{
	"presets" : ["@babel/preset-react"],
	"plugins": [
		[
			"@babel/plugin-transform-template-literals",
			{
				"loose" : true //This is template plugins option, make literal with '+', not concat
			}
		]
	]
}